<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Problem Sets</title>
    
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
  </head>
  <body>
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
    <script>
      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }
      function getMiniRand(){
        var minirand = getRandomInt(5948,6096)
        const random_stage_mini = [5952,5971,5978,5983,6015,6018,6021,6022,6026,6033,6048,6055]
        if (random_stage_mini.indexOf(minirand)!=-1) {
          minirand+=2
        }
        window.location.href =  window.location.href+'/'+minirand
      }
      function getARCRand(){
        // var rand = logic_function.getRandomInt(6098,6496)
        var rand = getRandomInt(6098,6496)
        const random_stage_arc = [6186, 6227, 6241, 6247, 6268, 6271, 6291, 6299, 6303, 6309, 6410, 6490]
        if (random_stage_arc.indexOf(rand)!=-1) {
          rand+=2
        } 
        window.location.href =  window.location.href+'/'+rand
      }
      
    </script>

      <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" target="_blank">
            <img src="../images/korea_mark.png" height="16" alt="" loading="lazy"
              style="margin-top: -3px;" />
          </a>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page">Welcome <%= userName %> !</a>
              </li>
            </ul>

            <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="my-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center">
          <h4 class="pt-5 mb-5"><strong>Try Solving Mini-ARC or ARC Problems!</strong></h4>

          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                  <a>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mini-ARC</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>

                  <a onclick="getMiniRand()" class="btn btn-primary" >Solve Randomly</a>
                  <!-- <a href=<%= //rand2 %> class="btn btn-primary" >Let test your IQ!</a> -->
   
                  <div class="container border mt-5 pt-3" style="height:500px; overflow-y: scroll;">
                    <div class="row pb-2">
                      <div class="col-3">
                        <h6>ID</h6>
                      </div>
                      <div class="col-6">
                        <h6>Task Name</h6>
                      </div>
                      <div class="col-3">
                        <h6>Status</h6>
                      </div>
                    </div>
                    <% miniARC_idlist.forEach(item => { %>
                      <% var reff = userName + '/' + item.id %>
                      <div class="row">
                        <div class="col-3 border">
                          <a href=<%=reff%>><%= item.id %></a>
                        </div> 
                        <div class="col-6 border">
                          <%= item.task_name %>
                        </div>
                        <div class="col-3 border">
                          &#9989
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                  <a>
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">ARC</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                  </p>
                  <a onclick="getARCRand()" class="btn btn-primary" >Solve Randomly</a>
                  <div class="container border mt-5 pt-3" style="height:500px; overflow-y: scroll;">
                    <div class="row pb-2">
                      <div class="col-3">
                        <h6>ID</h6>
                      </div>
                      <div class="col-6">
                        <h6>Task Name</h6>
                      </div>
                      <div class="col-3">
                        <h6>Status</h6>
                      </div>
                    </div>
                    <% ARC_idlist.forEach(item => { %>
                      <% var reff = userName + '/' + item.id %>
                      <div class="row">
                        <div class="col-3 border">
                          <a href=<%=reff%>><%= item.id %></a>
                        </div> 
                        <div class="col-6 border">
                          <%= item.task_name %>
                        </div>
                        <div class="col-3 border">
                          &#9989
                        </div>
                      </div>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        </section>
        <!--Section: Content-->

      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="bg-light text-lg-start">


      <hr class="m-0" />


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="">GIST</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!--Footer-->


</body>
</html>