<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Problem Solving</title>
    
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,399,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />

    <style>
      :root {
        --cell-size: <%= p %>px; /* set the initial value of the CSS variable */
      }
      .cell_final {
        /* height: var(--cell-size);
        width: var(--cell-size); */
        border-left: 1px solid #555;
        border-top: 1px solid #555;
        background-color: #000;
        padding-right: 0px;
        padding-left: 0px;

      }
    </style>

    <link rel="stylesheet" href='/stylesheets/style.css'>
    <script src="/javascripts/mario.js"></script>
  </head>
  <body>
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
      var testgrid = <%- JSON.stringify(Testgrid) %>;
      var currentRoute = window.location.href;
    </script>
    
    <script src="/javascripts/jquery.js"></script>
    


      <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <div class="container-fluid">
          <!-- Navbar brand -->
          <a class="navbar-brand" target="_blank">
            <img src="../../images/korea_mark.png" height="16" alt="" loading="lazy"
              style="margin-top: -3px;" />
          </a>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page">Welcome <%= userName %> !</a>
              </li>
            </ul>

            <ul class="navbar-nav d-flex">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/task/<%= userName %>">MainMenu</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/">Logout</a>
                
              </li>
              
              
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="my-5">
      <div class="container-fluid">
        <!--Section: Content-->
        <section class="text-center">
          <h4 class="pt-5 mb-5"><strong>Try Solving Mini-ARC or ARC Problems!</strong></h4>
          
          
          <div class="container-fluid">
            <div class="row">

              <div class="card card_2 col-lg-4" style="overflow-y: scroll;">
                <h5>
                  Task Demonstration 1
                </h5>
                
                <% grid.forEach(item => { %>
                  <div class="container-fluid row demo_row mx-auto">

                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div class="container input_preview">
                        
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 199/n %>
                      <% // console.log(cs)%>

                      <div class="row justify-content-center">
                      <% for(j = 0; j < item[0].width; j++){ %>
                        <div class="cell_final symbol_<%= item[0].grid[i][j] %>" style="width: <%= cs %>px; height: <%= cs %>px" >  </div>

                      <% } %>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      </div>
                    <% } %>
                    </div>
                    <div class="col">
                      <div class="arrow">
                        ➔
                      </div>
                    </div>
                    <div class="col">
                      <% for(i = 0; i < item[1].height ; i++){ %>
                        <% if(i == 0){ %>
                          <div class="container input_preview">
                        <% } %>

                        <% if(item[1].height > item[1].width) {n=item[1].height} else{n=item[1].width} %>
                        <% cs = 199/n %>
                        <% // console.log(cs)%>
  
                        <div class="row justify-content-center">
                        <% for(j = 0; j < item[1].width; j++){ %>
                          <div class="cell_final symbol_<%= item[1].grid[i][j] %>" style="width: <%= cs %>px; height: <%= cs %>px">  </div>
  
                        <% } %>
                        <% if(i == item[1].height - 1){ %>
                        </div>
                        <% } %>
  
                        </div>
                      <% } %>
                    </div>

                </div>
                <% }) %>
               
              </div>


              <div class="card card_2 col-lg-4">
                <h5> Test Input Grid </h5>
                <% Testgrid.forEach(item => { %>
                  <div class="container-fluid row demo_row mx-auto">
                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div class="container output_preview">
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 399/n %>
                      <% // console.log(cs)%>

                      <div class="row justify-content-center">
                      <% for(j = 0; j < item[0].width; j++){ %>
                        <div class="cell_final symbol_<%= item[0].grid[i][j] %>"style="width: <%= cs %>px; height: <%= cs %>px">  </div>

                      <% } %>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      </div>
                    <% } %>
                    </div>
                  
                </div>
                <% }) %>

                
              </div>
              <div class="card card_2 col-lg-4">
                <h5> Output Grid </h5>
                <div id="editor_grid_control_btns">
                  <div id="resize_control_btns">
                      <label for="output_grid_size">Change grid size: </label>
                      <input type="text" id="output_grid_size" class="grid_size_field" name="size" value="3x3">
                      <button onclick="resizeOutputGrid()" id="resize_btn">Resize</button>
                  </div>

                  <button onclick="copyFromInput()">Copy from input</button>
                  <button id="resetBtn" onclick="resetOutputGrid()">Reset grid</button>
                  <button onclick="submitSolutionMario(testgrid)" id="submit_solution_btn">Submit!</button>
              </div>
                <% Outputgrid.forEach(item => { %>
                  <div class="container-fluid row demo_row mx-auto">
                    <div class="col">
                    <% for(i = 0; i < item[0].height ; i++){ %>
                      <% if(i == 0){ %>
                        <div id="user_interact" class="container output_preview">
                      <% } %>
                      <% if(item[0].height > item[0].width) {n=item[0].height} else{n=item[0].width} %>
                      <% cs = 399/n %>
                      <% // console.log(cs)%>

                      <div class="row justify-content-center">
                      <% for(j = 0; j < item[0].width; j++){ %>
                        <div class="cell_final symbol_<%= item[0].grid[i][j] %>" id="cell_<%= i %>-<%= j %>" style="width: <%= cs %>px; height: <%= cs %>px">  </div>

                      <% } %>
                      <% if(i == item[0].height - 1){ %>
                      </div>
                      <% } %>

                      </div>
                    <% } %>
                    </div>
                  
                </div>
                <% }) %>

                <div id="toolbar" class="container-fluid row demo_row mx-auto">
                  <div>
                      <input type="radio" id="tool_edit"
                       name="tool_switching" value="edit" checked>
                      <label for="tool_edit">Edit</label>

                      <input type="radio" id="tool_select"
                       name="tool_switching" value="select">
                      <label for="tool_select">Select</label>

                      <!-- <input type="radio" id="tool_floodfill"
                       name="tool_switching" value="floodfill">
                      <label for="tool_floodfill">Flood fill</label> -->
                      <div id="select_util_btn">
                        <button id="clockrotate" style="display: none;">Clockwise Rotate</button>
                        <button id="counterclockrotate" style="display: none;">Counterclockwise Rotate</button>
                        <button id="xflip" style="display: none;">X flip</button>
                        <button id="yflip" style="display: none;">Y flip</button>
                      </div>
                  </div>
              </div>

              <div id="symbol_picker" class="btn-group container-fluid row demo_row mx-auto" role="group" aria-label="Symbol Picker">
                <button type="button" class="btn symbol_preview symbol_0 selected-symbol-preview" symbol="0"></button>
                <button type="button" class="btn symbol_preview symbol_1" symbol="1"></button>
                <button type="button" class="btn symbol_preview symbol_2" symbol="2"></button>
                <button type="button" class="btn symbol_preview symbol_3" symbol="3"></button>
                <button type="button" class="btn symbol_preview symbol_4" symbol="4"></button>
                <button type="button" class="btn symbol_preview symbol_5" symbol="5"></button>
                <button type="button" class="btn symbol_preview symbol_6" symbol="6"></button>
                <button type="button" class="btn symbol_preview symbol_7" symbol="7"></button>
                <button type="button" class="btn symbol_preview symbol_8" symbol="8"></button>
                <button type="button" class="btn symbol_preview symbol_9" symbol="9"></button>
              </div>

                

              </div>
            </div>
          </div>
          
        </section>
        <!--Section: Content-->

      </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="bg-light text-lg-start">
      
      


      <hr class="m-0" />


      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="">GIST</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!--Footer-->


</body>
</html>